<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='./style.css' />
  <title><%= username %>'s Feed</title>
</head>
<body>
  <%- include('header', {title:'Your Feed', followed_communities: followed_communities}) %>
  <% if(posts) for(var p of posts) {%>
  <div class='content'>
    <div class='container'>
      <%- include('post-table', {post: p}) %>
    </div>
  </div>
  <% } %>

  <footer>
    <div class='container'>
      <h5>Contact Us:</h5>
      <ul id='contact-list'>
        <li><h6>Email: example@email-server.com</h6></li>
        <li><h6>Phone: (012)-345-6789</h6></li>
      </ul>
    </div>
  </footer>
</body>
</html>
