<header>
  <div class='xcontainer'>
    <h1 id='title'><%= title %></h1>
  </div>
  <nav>
    <input id='menu-check' type='checkbox'>
    <label for='menu-check'></label>
    <div class='xcontainer'>
    <ul id='navbar'>
      <li><a href="/feed"><h4>Feed</h4></a></li>
      <li class='category'><h4>Followed Communities</h4>
        <ul class='dropdown'>
        <% if (followed_communities) for(var c of followed_communities) {%>
          <% if (c.name) {%>
          <li><h4><%= c.name %></h4></li>
          <% } %>
        <% } %>
        </ul>
      </li>
      <li class='category'><h4>Popular</h4>
        <ul class='dropdown'>
        <% if (popular_communities) for(var c of popular_communities) {%>
          <% if (c.name) {%>
          <li><h4><%= c.name %></h4></li>
          <% } %>
        <% } %>
        </ul>
      </li>
      <li><a href="/my-profile"><h4>Profile</h4></li>
      <li><a href="/new-post"><h4>New Post</h4></a></li>
    </ul>
    </div>
  </nav>
</header>